.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-weight: 900;
    font-size: 50px;
  }

  .goHomeButton {
    border-radius: 30px;
    font-weight: 700;
    background: #BDFBFF;
    color: #3C4669;
    text-transform: none !important;
    margin: 10px 0px;
    width: 200px;
  }
}